div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexcargo')= 'Inicio'
  a(class='item' href='/nuevocargo')= 'Nuevo Cargo'
  a(class='item' href='/vercargo')= 'Ver Cargo'    
  