div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexantecedente')= 'Inicio'
  a(class='item' href='/nuevoantecedente')= 'Nuevo Antecedente'
  a(class='item' href='/iniciobuscar')= 'Buscar Antecedente'
     
  