div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/login')= 'Inicio Principal'
  a(class='item' href='/users/panel')= 'Inicio '
  a(class='item' href='/nuevoantecedente')= 'Nuevo Antecedente'
  a(class='item' href='/iniciobuscar')= 'Buscar Antecedente'    
  