div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexmedico')= 'Inicio'
  a(class='item' href='/nuevomedico')= 'Nuevo Medico'
  a(class='item' href='/vermedico')= 'Ver Medico'    