div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/')= 'Inicio'
  a(class='item' href='/users/panel')= 'Inicio Administrador'
  a(class='item' href='/nuevousuario')= 'Nuevo Usuario'
  a(class='item' href='/verusuario')= 'Ver Usuario'    