div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexusuario')= 'Inicio'
  a(class='item' href='/nuevousuario')= 'Nuevo Usuario'
  a(class='item' href='/verusuario')= 'Ver Usuario'    