div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexpersona')= 'Inicio'
  a(class='item' href='/nuevapersona')= 'Nuevo Persona'
  a(class='item' href='/verpersona')= 'Ver Persona'    