extends templates/default

block content

  include templates/antecedente/navantecedente
  
  div(class=['ui', 'container', 'grid', 'stackable','banner'])
    div(class=['ten', 'wide', 'column'])

      h3(class=['ui', 'header', 'blue','form-head'])= 'Bienvenido Antecedentes Clinicos'