extends templates/default

block content

  include templates/persona/navpersona
  
  div(class=['ui', 'container', 'grid', 'stackable','banner'])
    div(class=['ten', 'wide', 'column'])

      h3(class=['ui', 'header', 'blue','form-head'])= 'Bienvenido Persona'