extends templates/default

block content

  include templates/especialidad/navespecialidad
  
  div(class=['ui', 'container', 'grid', 'stackable','banner'])
    div(class=['ten', 'wide', 'column'])

      h3(class=['ui', 'header', 'blue','centered','form-head'])= 'Bienvenido Especialidades'