div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexempleado')= 'Inicio'
  a(class='item' href='/nuevoempelado')= 'Nuevo Empleado'
  a(class='item' href='/verempleado')= 'Ver Empleado'    