div(class=['ui', 'pointing','blue','inverted','menu'])
  a(class='item' href='/')= 'Inicio Principal'
  a(class='item' href='/users/panel')= 'Inicio '
  a(class='item' href='/nuevoempleado')= 'Nuevo Empleado'
  a(class='item' href='/verempleado')= 'Ver Empleado'   