div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/login')= 'Inicio'
  a(class='item' href='/nuevohistoria1')= 'Registrar historiales'
  a(class='item' href='/verhistorial')= 'Ver Historias'  
  a(class='item' href='/iniciohistoria1')= 'Ver Consultas' 