div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/')= 'Inicio Principal'
  a(class='item' href='/users/panel')= 'Inicio'
  a(class='item' href='/nuevaespecialidad')= 'Nuevo Especialidad'
  a(class='item' href='/verespecialidad')= 'Ver Especialidad'    