extends ../templates/default

block content

  include ../templates/antecedente/navantecedenteop
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Buscar Antecedentes'

      div(class='form-iniciohistoria')
        form(class=['ui', 'form'] action='http://localhost:3000/verAntecedente' method='post')
          div(class=['ui', 'field'])
            label(for='pacienteMatricula')= 'Ingrese Nro Matricula Paciente'
            input(type= 'text' name='pacienteMatricula' placeholder='Nro matricula')
          div(class=['ui', 'two', 'fields'])
            div(class=['ui', 'field'])
          button(class=['ui', 'button', 'large', 'blue'])= 'Buscar'
          div(class=['ui', 'message', 'error'])
      
  script(src='/javascripts/validacion.js')