div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/indexpaciente')= 'Inicio'
  a(class='item' href='/nuevopaciente')= 'Nuevo Paciente'
  a(class='item' href='/verpaciente')= 'Ver Paciente'    